<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TECH-KNOWLEDGE-Y</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poor+Story&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
  <header>
    <h1>
        <button id="logout" class="btn-no-style">logout</button>
        <a href="/">TECH_KNOWLEDGE_Y</a>
    </h1>
    <nav>
      <a href="/login">login</a>
    </nav>
  </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
<button id="logout" class="btn-no-style">logout</button>
</body>

</html>